
@import "tailwindcss";


:root {
  --background: #FCF9F4;
  --dark-green: #022818;
  --dark-gold: #C18B21;
  --bright-blue: #4069FA;
}

body {
  background: var(--background);
  color: var(--dark-green);
  font-family: var(--font-text), serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display), serif;
}

nextjs-portal {
  display: none !important;
}

