@import "https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap";
@import "tailwindcss";


:root {
  --background: #FCF9F4;
  --dark-green: #022818;
  --dark-gold: #C18B21;
  --bright-blue: #4069FA;
  --title-font: "Tinos", serif;
}

body {
  background: var(--background);
  color: var(--dark-green);
  font-family: "Tinos", serif;
}

nextjs-portal {
  display: none !important;
}

